html 
    body
        form(action="/adddata" method="post")
            span name: 
            input(type="text" name="name" placeholder="Enter name")
            br
            br
            span Dateofbirth:
            input(type="text" name="dob" placeholder="Enter Date of birth")
            br
            br
            span loves:
            input(type="text" name="loves" placeholder="Enter unicorn likes")
            br
            br
            span weight:
            input(type="text" name="weight" placeholder="Enter Weight")
            br
            br
            span gender:
            input(type="text" name="gender" placeholder="Enter Gender")
            br
            br
            span vampires:
            input(type="text" name="vv" placeholder="Vampires kills")
            br
            br
            button submit